<style>
h1 {
  font-size:120px;
  line-height:0.7em;
}
body {
    background-image: url(https://lh3.googleusercontent.com/proxy/tyDOB5GKggOz15e1sJF2PWv7Qc5E6u0Awdq1U8Nkpy4UzPlTbmOJe05wMCUrpyugSEz7Hem0jJD4EQyXyj2ydBfjksMoao4eDX-aGBsRi6blndaW3u2v67ZAkkw);
    background-color:#FFFFFF;
}
</style>
