  
function showText() {
  p {
    opacity:0;
  }
  h1 {
    opacity:100;
  }
  button {
    opacity:0;
  }
setTimeout(function() {
  h1 {
    opacity:100;
  }
setTimeout(function() {
  h2 {
    opacity:100;
  }
setTimeout(function() {
  h3 {
    opacity:100;
  }
}, 1000);
}, 1000);
}, 1000);
}
